.modo-normal {
    color: black;
    border: 1px solid black;
    background-color: lightgray;
    

}

.modo-alternativo {
  color: darkred;
  border: 1px solid darkred;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}